{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
      <ol>
        <li>
        <p>
          Первый шагом надо зарегистрироваться <a href="http://www.evarist.org/user/login">вот здесь</a> (либо через гугл, либо через емейл-пароль).
        </p>
        </li>
        <li>
        <p>
          Либо Артем Котельский, либо Алексей Левин должны дать вам права администратора.
        </p>
        </li>
        <li>
        <p>
          Пройдите на <a href="http://www.evarist.org/admin/">главную страницу администраторов</a> (ссылка на нее всегда в правом верхнем углу, если вы зашли на сайт под свои аккаунтом c правами админа). Перед вами списки уроков. У нас на сайте они называются problem_set, при этом это может быть что угодно - листок с задачами, видеолекция с конспектом, урок, сюжет. Production status - это те уроки, которые уже выложены на сайте. Stage status - уроки, которые почти готовы к выкладыванию (и на них уже существует ссылка на сайте, которую можно кидать кому угодно). Dev status - уроки в разработке, они видны только админестраторам.
        </p>
        <p>
          Курс состоит из уроков. Для вашего курса мы сделаем отдельную страницу, на которой выложим все уроки в правильном порядке. Вы же создаете уроки, из которых состоит курс. То есть, например для семестрового курса в университете логично разбиение урок=лекция (1 или 2 раза в неделю), и в каждом уроке вы выкладываете соответствующие конспекты, видео, задачки, и тп. Чтобы создать новый урок, нужно ввести название урока и его slug (как название будет отображаться в ссылке) в форму внизу странички. Например, для урока "Множества" у нас slug="mnozhestva", и ссылка на урок на сайте такая: <a href="http://www.evarist.org/problem_sets/mnozhestva/">http://www.evarist.org/problem_sets/mnozhestva/</a>
        </p>
        </li>
        <li>
        <p>
          После того, как вы создали свой урок, зайдите на страничку наполнения контента, кликнув на название своего урока (оно будет среди остальных уроков в dev status списке, внизу). Вы должны оказаться на странице <br> http://www.evarist.org/admin/[slug, который вы придумали] <br> Тут вы добавляете задачи, лекции, конспекты т.д., в любом количестве. Чтобы исправить название, slug, или status для вашего урока, или удалить ваш урок, нажмите на соответствующую кнопку снизу от названия вашего урока. Для того, чтобы посмотреть или показать, как выглядит ваш листок, нужно поменять status на stage (для этого нажмите на'edit title, slug and status'), и тогда под названием листка появится соответствующая ссылка. 
        </p>
        <p>
          Далее наполнение: урок делится на блоки (content_block у нас на сайте), форма для добавления блоков находится внизу. Блок - это текст, в котором вы можете использовать стандартные тэги TeX и HTML. Его вы помещаете в самую большую форму. Далее вы выбираете тип блока. У нас пока предусмотрены два специальных вида блоков - это задачи и определения (type="problem" и type="definition"). Для них префиксы "Определение 4." или "Задача 1." с нумерацией будут появлятся автоматически. Кроме того, для блоков с type="problem" будет создаваться отдельная специальная страница, на которой студенты могут сдавать эту задачу. Для всего остального мы используем type="general_content_block" (например для аксиом, соглашений, картинок, видео, и тд). Если у вас уже есть несколько блоков, то создавая новый блок, вы можете задать место, куда вы хотите поместить новый блок, написав соотв номер в поле которое ниже всего. 
        </p>
        <p>
          Для того, чтобы исправить блок, нужно нажать на edit upper content_block. 
        </p>
        </li>
        <li>
        <p>
          <b>Синтаксис блоков (TeX и HTML тэги).</b><br>
          Чтобы посмотреть, как наполнять блоки задачами, определениям, и general_content_block'ами, лучше всего взглянуть на один из листков, например на <a href="http://www.evarist.org/admin/group-theory/">Group Theory</a>. Чтобы увидеть, что написал автор в каждом блоке, нужно нажать на edit upper content_block, и вы увидете исходный текст.
        </p>
        <p>
          Для того, чтобы вывесить картинку, нужно загрузить ее куда-нибудь (например на http://cloudinary.com/ или http://imgur.com/), а потом написать в блоке следующий тэг <br>
          {{'<img src="URL адрес вашей картинки" class="img-responsive" alt="Responsive image">'}} <br>
        </p>
        <p>
          Для новых строк используется тэг {{'<br>'}} (в скором времени мы это исправим). Выделять текст {{'<b>'}}<b>вот так</b>{{'</b>'}} и {{'<em>'}}<em>вот так</em>{{'</em>'}}.

          Для ТеХа все стандартно: обрамлять в \$ для формул в тексте, или в \$\$ для выделенных формул.
        </p>
        <p>
          В скором времени добавление картинок и переносы строк станут более удобными.
        </p>
        </li>
      </ol>
      </p>
    </div>
  </div>

{% endblock %}