{% extends "layout.html" %}
{% block head %}
  <title>Guide</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class='text-center'>Инструкция для создателей курсов.</h3>
      <hr>
      <ol>
        <li>
        <p>
          Сначала надо зарегистрироваться <a href="http://www.evarist.org/user/login">вот здесь</a> (либо через гугл, либо через емейл-пароль).
        </p>
        </li>
        <li>
        <p>
          Либо Артем Котельский, либо Алексей Левин должны дать вам права администратора.
        </p>
        </li>
        <li>
        <p>
          Пройдите на <a href="http://www.evarist.org/admin/">главную страницу администраторов</a> (ссылка на нее всегда в правом верхнем углу, если вы зашли на сайт под свои аккаунтом c админ правами). Слева - список курсов (courses). Курсы состоят из сюжетов (у нас на сайте они называются problem_set), сюжеты находятся справа. Для примера посмотрите как выглядит курс матанализа 57ой школы на главной странице <a href="http://www.evarist.org/">http://www.evarist.org/</a>. 
        </p>
        <p>
          Cюжетом может быть что угодно - листок с задачами, видеолекция с конспектом, урок, все вместе. Production status - это те сюжеты, которые уже выложены на сайте. Stage status - сюжеты, которые почти готовы к выкладыванию (и на них уже существует ссылка на сайте, которую можно кидать кому угодно). Dev status - сюжеты в разработке, они видны только администраторам, и не могут быть добавлены в курсы.
        </p>
        <p>
          Для курсов, где есть видеолекции, мы предлагаем придерживаться правила "одно видео = один сюжет" (в который также можно добавить соответствующие сводки формул, конспект, задачи и тп). 
        </p>
        <p>
          Чтобы создать новый сюжет, нужно ввести название сюжета и его slug (как название будет отображаться в ссылке) в форму внизу странички. Например, для сюжета "Множества" у нас slug="mnozhestva", и ссылка на сюжет на сайте такая: <a href="http://www.evarist.org/problem_sets/mnozhestva/">http://www.evarist.org/problem_sets/mnozhestva/</a>
        </p>
        <p>
          Интерфейс для создание курса и добавления в него сюжетов находится слева, и абсолютно аналогичен созданию сюжетов.
        </p>
        </li>
        <li>
        <p>
          После того, как вы создали свой сюжет, зайдите на страничку наполнения контента, кликнув на название своего сюжета (оно будет среди остальных сюжетов в dev status списке, внизу). Вы должны оказаться на странице <br> http://www.evarist.org/admin/[slug, который вы придумали] <br> Тут вы добавляете задачи, лекции, конспекты т.д., в любом количестве. Чтобы исправить название, slug, или status для вашего сюжета, или удалить сюжет насовсем, нажмите на соответствующую кнопку снизу от названия вашего сюжета. Для того, чтобы посмотреть или показать, как выглядит ваш листок, нужно поменять status на stage (для этого нажмите на'edit title, slug and status'), и тогда под названием листка появится соответствующая ссылка. 
        </p>
        <p>
          Далее наполнение: сюжет делится на блоки (content_block у нас на сайте), форма для добавления блоков находится внизу. Блок - это текст, в котором вы можете использовать стандартные тэги TeX и HTML. Его вы помещаете в самую большую форму. Далее вы выбираете тип блока. У нас пока предусмотрены два специальных типа блоков - это задачи и определения (type="problem" и type="definition"). Для них префиксы "Определение N." или "Задача N." с нумерацией будут появлятся автоматически. Кроме того, для блоков с type="problem" будет создаваться отдельная специальная страница, на которой студенты могут сдавать эту задачу. Для всего остального мы используем type="general_content_block" (например для аксиом, соглашений, картинок, видео, и тд). Если у вас уже есть несколько блоков, то, создавая блок, вы можете задать место, куда вы хотите поместить новый блок, написав соответствующий номер в поле, которое находится ниже всего. 
        </p>
        <p>
          Для того, чтобы исправить блок, нужно нажать на edit upper content_block. 
        </p>
        </li>
        <li>
        <p>
          <b>Синтаксис блоков (TeX и HTML тэги).</b><br>
          Чтобы посмотреть, как наполнять блоки задачами, определениям, и general_content_block'ами, лучше всего взглянуть на один из листков, например на <a href="http://www.evarist.org/admin/group-theory/">Group Theory</a>. Чтобы увидеть, что написал автор в каждом блоке, нужно нажать на edit upper content_block, и вы увидете исходный текст.
        </p>
        <p>
          Для того, чтобы вывесить картинку, нужно загрузить ее куда-нибудь (например на <a href="http://cloudinary.com/">http://cloudinary.com/</a> или <a href="http://imgur.com/">http://imgur.com/</a>), а потом написать в блоке следующий тэг <br>
          {{'<img src="URL адрес вашей картинки" class="img-responsive" alt="Responsive image">'}} <br>
        </p>
        <p>
          Для новых строк используется тэг {{'<br>'}} (в скором времени мы это исправим). Выделять текст {{'<b>'}}<b>вот так</b>{{'</b>'}} и {{'<em>'}}<em>вот так</em>{{'</em>'}}.

          Для ТеХа все стандартно: обрамлять в \$ для формул в тексте, или в \$\$ для выделенных формул.
        </p>
        <p>
          В скором времени добавление картинок и переносы строк станут более удобными.
        </p>
        </li>
      </ol>
      </p>
    </div>
  </div>

{% endblock %}