{% extends "layout.html" %}
{% block head %}
   <title>admin home</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="{{url_for('admin.feedbacks')}}">Feedbacks</a>
      <br>
      <a href="{{url_for('admin.users')}}">Users</a>
      <br>
      <a href="{{url_for('admin.not_checked_solutions')}}">Not checked solutions</a>
      <br>
      <a href="{{url_for('admin.checked_solutions')}}">Checked solutions</a>
      <br>
      <a href="{{url_for('admin.problem_questions')}}">Questions about problems, general discussions</a>
      <br>
      <br>

      <dl>
        <dt>Problem sets:</dt>
        <dd> <b> production mode </b></dd>
        {%for problem_set in problem_sets_production%}
          <dd>
            <a href="{{url_for('.problem_set_edit',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a> 
            (slug is {{problem_set['slug']}})
          </dd>
        {% endfor %}
        <hr>
        <dd> <b>stage mode </b></dd>
        {%for problem_set in problem_sets_stage%}
          <dd>
            <a href="{{url_for('.problem_set_edit',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a> 
            (slug is {{problem_set['slug']}})
          </dd>
        {% endfor %}
        <hr>
        <dd> <b> dev mode </b></dd>
        {%for problem_set in problem_sets_dev%}
          <dd>
            <a href="{{url_for('.problem_set_edit',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a> 
            (slug is {{problem_set['slug']}})
          </dd>
        {% endfor %}
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action=" {{url_for('admin.home')}}" method="post">
        <div class="form-group" style='width: 350px'>

          {{ form.hidden_tag() }}
          <label for="title">To create a new problem set write here the title: </label>
          <input type="text" class="form-control" name="title">
          
          <label for="slug">And put the slug here: </label>
          <input type="text" class="form-control" name='slug'>

          <div class="radio">
            <label ><input type="radio" name='status' value='dev' checked> status of this problem_set will be "dev" </label>
          </div>

        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
      </form>
    </div>
  </div> 

{% endblock %}
