{% extends "layout.html" %}
{% block head %}
   <title>edit {{problem_set['title']}}</title>
{% endblock %}
{% block body %}
  

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
      <a href="{{url_for('.home')}}">Back to the list of problem sets</a>
      <div style='height:20px'></div>
      

      <h4>{{problem_set['title']}} ( {{problem_set['status']}} mode )</h4>
        


        <div>
          <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapsIdUnique" aria-expanded="false" aria-controls="collapsIdUnique">
            Edit title, slug and status
          </button>
          <div class="collapse" id="collapsIdUnique">
            <form action="{{url_for('.problem_set_edit',problem_set_slug=problem_set['slug'])}}" method="post">
              <div class="form-group" style='width: 350px'>

                <div class="radio">
                  <label ><input type="radio" name='status' value='dev' checked> change status to "dev". </label>
                </div>
                <div class='radio'>
                  <label ><input type="radio" name='status'  value='stage'> change status to "stage". </label>
                </div> 
                <div class="radio">
                  <label ><input type="radio" name='status' value='production'> change status to "production". </label>
                </div>

                {{ edit_problem_set_form.hidden_tag() }}
                <label for="title">Edit the title: </label>
                <input type="text" class="form-control" name="title" value="{{problem_set['title']}}">
                
                <label for="slug">Edit the slug: </label>
                <input type="text" class="form-control" name='slug' value="{{problem_set['slug']}}">

              </div>
              <button type="submit" class="btn btn-default">Submin</button>
            </form> 
          </div>
        </div>
        
        <div style='height:5px'></div>
        
        <form class="form-inline" action="{{url_for('.problem_set_edit',problem_set_slug=problem_set['slug'])}}" method="post">  
          {{ delete_problem_set_form.hidden_tag() }}
          <button type="submit" class="btn btn-xs btn-danger">Delete the whole problem set, and all its entries.</button>
          <div class="checkbox">
            <label><input type="checkbox" name='delete'> I am sure about that</label>
          </div>
        </form>

      
      <div style='height:20px'></div>
      <p>Entries:</p>
      <ol>
        {%for entry in problem_set['entries']%}
          <li>
            
            <div>
              <p>
              {% if entry.get('entry_type')=='problem' %}
              <a href="{{ url_for('workflow.problem', problem_set_slug=problem_set['slug'], prob_id=entry.get('_id') ) }}">
                Задача {{entry.get('problem_number')}}.</a>
              {% elif entry.get('entry_type')=='definition' %}
              <a href="{{ url_for('workflow.entry', problem_set_slug=problem_set['slug'], entry_type=entry.get('entry_type'), __id=entry.get('_id') ) }}">
                ∆ Определение {{entry.get('definition_number')}}.</a>
              {% else %}
              <a href="{{ url_for('workflow.entry', problem_set_slug=problem_set['slug'], entry_type=entry.get('entry_type'), __id=entry.get('_id') ) }}"> general_entry </a>
              {%endif%}
              tags:{{entry['tags']}}
              <br>
              {{entry['text']|safe}}
              </p>
            </div>


            <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapsId{{(loop.index)}}" aria-expanded="false" aria-controls="collapsId{{(loop.index)}}">
              Edit upper entry
            </button>
            <div class="collapse" id="collapsId{{(loop.index)}}">
              <form action=" {{url_for('.problem_set_edit', problem_set_slug=problem_set['slug'], entry_id=entry['_id'])}}" method="post">
                <div class="form-group" style='width: 800px'>
                  {{ edit_entry_form.hidden_tag() }}
                  <div class="checkbox">
                    
                    {% if entry['entry_type']=='problem' %}
                      <div class="form-group" >
                        <div class="radio">
                          <label ><input type="radio" name='entry_type' value='general_entry'> Check this, if this entry has type "general_entry". </label>
                        </div>
                        <div class='radio'>
                          <label ><input type="radio" name='entry_type'  value='definition'> Check this, if this entry has type "definition". </label>
                        </div> 
                        <div class="radio">
                          <label ><input type="radio" name='entry_type' value='problem' checked> Check this, if this entry has type "problem". </label>
                        </div>
                      </div>
                    {% elif entry['entry_type']=='definition' %}
                      <div class="form-group" >
                        <div class="radio">
                          <label ><input type="radio" name='entry_type' value='general_entry'> Check this, if this entry has type "general_entry". </label>
                        </div>
                        <div class='radio'>
                          <label ><input type="radio" name='entry_type'  value='definition' checked> Check this, if this entry has type "definition. </label>
                        </div> 
                        <div class="radio">
                          <label ><input type="radio" name='entry_type' value='problem'> Check this, if this entry has type "problem". </label>
                        </div>
                      </div>
                    {% else %}
                      <div class="form-group" >
                        <div class="radio">
                          <label ><input type="radio" name='entry_type' value='general_entry' checked> Check this, if this entry has type "general_entry". </label>
                        </div>
                        <div class='radio'>
                          <label ><input type="radio" name='entry_type'  value='definition'> Check this, if this entry has type "definition. </label>
                        </div> 
                        <div class="radio">
                          <label ><input type="radio" name='entry_type' value='problem'> Check this, if this entry has type "problem". </label>
                        </div>
                      </div>
                    {% endif %}
      

                  </div>
                  <label for="edit_text">Edit the entry: </label>
                  <textarea class="form-control" rows="10" name='edit_text'>{{entry['text']}}</textarea>

                  <label for="title">Write here the number of entry after which you want this entry to pop up: </label>
                  <input type="text" class="form-control" name="entry_number" value='{{loop.index-1}}'>
                  
                  <div class="checkbox" style='background-color:red'>
                    <label >
                      <input type="checkbox" name='delete_entry'>just want to delete this entry, forever
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>




          </li>

        <div style='height:30px'></div>
        {% endfor %}
      </ol>


      
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action=" {{url_for('.problem_set_edit', problem_set_slug=problem_set['slug'])}}" method="post">
        Create a new entry.
        <div class="form-group" style='width: 800px'>

          {{ entryform.hidden_tag() }}
          <div class="form-group" >
            <div class="radio">
              <label ><input type="radio" name='entry_type' value='general_entry'> Check this, if this entry has type "general_entry". </label>
            </div>
            <div class='radio'>
              <label ><input type="radio" name='entry_type'  value='definition'> Check this, if this entry has type "definition". </label>
            </div> 
            <div class="radio">
              <label ><input type="radio" name='entry_type' value='problem' checked> Check this, if this entry has type "problem". </label>
            </div>
          </div>
          <label for="text">Here put the content of entry: </label>
          <textarea class="form-control" rows="5"  name='text'></textarea>

          <label for="entry_number">Write here the number of entry after which you want this entry to pop up: </label>
          <input type="text" class="form-control" name="entry_number" value='{{problem_set["entries"] | length}}'>

        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
      </form>
    </div>
  </div> 

{% endblock %}