{% extends "layout.html" %}
{% block head %}
   <title>edit {{problem_set['title']}}</title>
{% endblock %}
{% block body %}
  

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
      <a href="{{url_for('.home')}}">Back to the list of problem sets</a>
      <div style='height:20px'></div>
      

      <h4>{{problem_set['title']}} ( {{problem_set['status']}} status )</h4>
      {% if problem_set.status!='dev' %}
      <p>Ссылка, работающая не только у администраторов: <br> <a href="http://www.evarist.org/problem_sets/{{problem_set.slug}}">http://www.evarist.org/problem_sets/{{problem_set.slug}}</a></p>
      {% endif %}
        


        <div>
          <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapsIdUnique" aria-expanded="false" aria-controls="collapsIdUnique">
            Edit title, slug and status
          </button>
          <div class="collapse" id="collapsIdUnique">
            <form action="{{url_for('.problem_set_edit',problem_set_slug=problem_set['slug'])}}" method="post">
              <div class="form-group" style='width: 350px'>

                <div class="radio">
                  <label ><input type="radio" name='status' value='dev'> change status to "dev". </label>
                </div>
                <div class='radio'>
                  <label ><input type="radio" name='status'  value='stage'> change status to "stage". </label>
                </div> 
                <div class="radio">
                  <label ><input type="radio" name='status' value='production'> change status to "production". </label>
                </div>

                {{ edit_problem_set_form.hidden_tag() }}
                <label for="title">Edit the title: </label>
                <input type="text" class="form-control" name="title" value="{{problem_set['title']}}">
                
                <label for="slug">Edit the slug: </label>
                <input type="text" class="form-control" name='slug' value="{{problem_set['slug']}}">

              </div>
              <button type="submit" class="btn btn-default">Submin</button>
            </form> 
          </div>
        </div>
        
        <div style='height:5px'></div>
        
        <form class="form-inline" action="{{url_for('.problem_set_edit',problem_set_slug=problem_set['slug'])}}" method="post">  
          {{ delete_problem_set_form.hidden_tag() }}
          <button type="submit" class="btn btn-xs btn-danger">Delete the whole problem set, and all its content_blocks.</button>
          <div class="checkbox">
            <label><input type="checkbox" name='delete'> I am sure about that</label>
          </div>
        </form>

      
      <div style='height:20px'></div>
      <p>content_blocks:</p>
      <ol>
        {%for content_block in problem_set['content_blocks']%}
          <li>
            
            <div>
              <p>
              {% if content_block.type_=='problem' %}
              <a href="{{ url_for('workflow.problem', problem_set_slug=problem_set['slug'], prob_id=content_block.id ) }}">
                Задача {{content_block.number_in_problem_set}}.</a>
              {% elif content_block.type_=='definition' %}
              <a href="{{ url_for('workflow.content_block', problem_set_slug=problem_set['slug'], type_=content_block.type_, __id=content_block.id ) }}">
                ∆ Определение {{content_block.number_in_problem_set}}.</a>
              {% else %}
              <a href="{{ url_for('workflow.content_block', problem_set_slug=problem_set['slug'], type_=content_block.type_, __id=content_block.id ) }}"> general_content_block </a>
              {%endif%}
              tags:{{content_block['tags']}}
              <br>
              {{content_block['text']|safe}}
              </p>
            </div>


            <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapsId{{(loop.index)}}" aria-expanded="false" aria-controls="collapsId{{(loop.index)}}">
              Edit upper content_block
            </button>
            <div class="collapse" id="collapsId{{(loop.index)}}">
              <form action=" {{url_for('.problem_set_edit', problem_set_slug=problem_set['slug'], content_block_id=content_block.id)}}" method="post">
                <div class="form-group" style='width: 800px'>
                  {{ edit_content_block_form.hidden_tag() }}
                  <div class="checkbox">
                    
                    {% if content_block['type_']=='problem' %}
                      <div class="form-group" >
                        <div class="radio">
                          <label ><input type="radio" name='type_' value='general_content_block'> Check this, if this content_block has type "general_content_block". </label>
                        </div>
                        <div class='radio'>
                          <label ><input type="radio" name='type_'  value='definition'> Check this, if this content_block has type "definition". </label>
                        </div> 
                        <div class="radio">
                          <label ><input type="radio" name='type_' value='problem' checked> Check this, if this content_block has type "problem". </label>
                        </div>
                      </div>
                    {% elif content_block['type_']=='definition' %}
                      <div class="form-group" >
                        <div class="radio">
                          <label ><input type="radio" name='type_' value='general_content_block'> Check this, if this content_block has type "general_content_block". </label>
                        </div>
                        <div class='radio'>
                          <label ><input type="radio" name='type_'  value='definition' checked> Check this, if this content_block has type "definition. </label>
                        </div> 
                        <div class="radio">
                          <label ><input type="radio" name='type_' value='problem'> Check this, if this content_block has type "problem". </label>
                        </div>
                      </div>
                    {% else %}
                      <div class="form-group" >
                        <div class="radio">
                          <label ><input type="radio" name='type_' value='general_content_block' checked> Check this, if this content_block has type "general_content_block". </label>
                        </div>
                        <div class='radio'>
                          <label ><input type="radio" name='type_'  value='definition'> Check this, if this content_block has type "definition. </label>
                        </div> 
                        <div class="radio">
                          <label ><input type="radio" name='type_' value='problem'> Check this, if this content_block has type "problem". </label>
                        </div>
                      </div>
                    {% endif %}
      

                  </div>
                  <label for="edit_text">Edit the content_block: </label>
                  <textarea class="form-control" rows="10" name='edit_text'>{{content_block['text']}}</textarea>

                  <label>Write here the number of content_block after which you want this content_block to pop up: </label>
                  <input type="text" class="form-control" name="place_of_content_block" value='{{loop.index-1}}'>
                  
                  <div class="checkbox" style='background-color:red'>
                    <label >
                      <input type="checkbox" name='delete_content_block'>just want to delete this content_block, forever
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>




          </li>

        <div style='height:30px'></div>
        {% endfor %}
      </ol>


      
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action=" {{url_for('.problem_set_edit', problem_set_slug=problem_set['slug'])}}" method="post">
        Create a new content_block.
        <div class="form-group" style='width: 800px'>

          {{ content_blockform.hidden_tag() }}
          <div class="form-group" >
            <div class="radio">
              <label ><input type="radio" name='type_' value='general_content_block'> Check this, if this content_block has type "general_content_block". </label>
            </div>
            <div class='radio'>
              <label ><input type="radio" name='type_'  value='definition'> Check this, if this content_block has type "definition". </label>
            </div> 
            <div class="radio">
              <label ><input type="radio" name='type_' value='problem' checked> Check this, if this content_block has type "problem". </label>
            </div>
          </div>
          <label for="text">Here put the content of content_block: </label>
          <textarea class="form-control" rows="5"  name='text'></textarea>

          <label for="place_of_content_block">Write here the number of content_block after which you want this content_block to pop up: </label>
          <input type="text" class="form-control" name="place_of_content_block" value='{{problem_set["content_blocks"] | length}}'>

        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
      </form>
    </div>
  </div> 

{% endblock %}