{% extends "layout.html" %}
{% block head %}
  <title>our users</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-4">
      <h1>Students:</h1>
      <ol>
      {% for user in students %}
        <li>
          <p>username: {{user.username}} <br>
          email: {{user.email}} <br>
          admin: {{user.rights.is_moderator}}, checker: {{user.rights.is_checker}}
          </p>
        </li>
        
      {% endfor %}
      </ol>
    </div>
    <div class="col-md-4">
      <h1>Checkers:</h1>
      <ol>
      {% for user in checkers %}
        <li>
          <p>username: {{user.username}} <br>
          email: {{user.email}} <br>
          admin: {{user.rights.is_moderator}}, checker: {{user.rights.is_checker}}
          </p>
        </li>
        
      {% endfor %}
      </ol>
    </div>
    <div class="col-md-4">
      <h1>Moderators:</h1>
      <ol>
      {% for user in moderators %}
        <li>
          <p>username: {{user.username}} <br>
          email: {{user.email}} <br>
          admin: {{user.rights.is_moderator}}, checker: {{user.rights.is_checker}}
          </p>
        </li>
        
      {% endfor %}
      </ol>
    </div>

  </div>

{% endblock %}