{% extends "layout.html" %}
{% block head %}
   <title>add problem set</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Problem sets</h1>
      <ul>
        {%for problem_set in problem_sets%}
          <li>
            <a href="{{url_for('.show_problems',problem_set_title=problem_set['title'])}}">{{problem_set['title']}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action=" {{url_for('.add_problem_set')}}" method=post class=add-entry>
        <dl>
          <div class="form-group">
            <!-- <dt>Text: -->
            <!-- <dd><textarea name=text rows=5 cols=40></textarea> -->
            <label for="comment">to create a problem set write here the title: </label>
            <textarea class="form-control" rows="5" id="comment" name=text></textarea>
          </div>
          <dd><input type=submit value=Submit>
        </dl>
      </form>
    </div>
  </div> 
  

{% endblock %}