{% macro content_block(content_block,number=None,type_=None) -%}


  <h4>
    {% if content_block.type_=='problem' %} Задача
    {% elif content_block.type_=='definition' %} ∆ Определение
    {% else %}
    General_content_block
    {%endif%}
    {% if number %} {{number}}.{%endif%}
    <!-- {% if name %} {{name}} {%endif%}. -->
  </h4>
  <!-- <em>{%for tag in content_block.tags%} {{tag}} {%endfor%}</em> -->
  <p>
    {{content_block['text']|safe}}
  </p>



{%- endmacro %}


<!-- 
class Content_block(db.Document):
    text = db.StringField()
    date = db.DateTimeField(default=datetime.datetime.now)
    tags= db.ListField(db.StringField(max_length=128))
    
    problem_set= db.ReferenceField('Problem_set')
    author= db.ReferenceField('User')
    general_discussion=db.ListField(db.ReferenceField('Comment'))
    number_in_problem_set=db.IntField()

    type_ = db.StringField(max_length=64, default='problem', choices=('problem', 'definition', 'general_content_block'))
    solutions=db.ListField(db.ReferenceField('Solution'))

    meta = {'allow_inheritance': True}
    old_id = db.StringField()
-->