{% macro content_block(content_block,number=None,type_=None) -%}

{% if number %}
  <p>
  {% if content_block.type_=='problem' %}
    Задача {{number}}.
  {% elif content_block.type_=='definition' %}
    ∆ Определение {{number}}.
  {%endif%}
  {{content_block['text']|safe}}
  </p>

{% else %}
  <p>
  {% if content_block.type_=='problem' %}
    Задача.
  {% elif content_block.type_=='definition' %}
    ∆ Определение.
  {%endif%}
  {{content_block['text']|safe}}
  </p>

{% endif %}



{%- endmacro %}