{% macro edit_solution_form(solution) -%}
  <div class="form-group">
    <label for="edit_text">Исправьте решение здесь: </label>
    <textarea class="form-control" rows="8"  name='edited_solution'>{{solution.text}}  
    </textarea>
    
    <div class="checkbox" style='background-color:red'>
      <label>
        <input type="checkbox" name='delete_solution'>удалить это решение, навсегда
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Отправить</button>
{%- endmacro %}

{% macro vote_for_solution_form() -%}
  <div class="form-group" >
    <div class="radio">
      <label>
        <input type="radio" name="vote" value="upvote" >
        верно 
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="vote" value="downvote">
        неверно
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-xs btn-default">Проголосовать</button>
{%- endmacro %}

{% macro cancel_vote_form() -%}

  <div class="form-group" >
    <label>
      <input type="checkbox" name="cancel">
      <button type="submit" class="btn btn-xs btn-default">Отменить свой голос</button>
    </label>
  </div>
  
{%- endmacro %}


{% macro comment_form(name_of_textarea, name_of_the_button) -%}
  <div class="form-group" >
    <!-- <label for="feedback_to_solution">  <strong> Комментировать: </strong> </label> -->
    <textarea class="form-control" rows="2"  name='{{name_of_textarea}}'></textarea>
  </div>
  <button type="submit" class="btn btn-default"><!-- Отправить -->{{name_of_the_button}}</button>
{%- endmacro %}

{% macro solution_form(name_of_textarea, name_of_the_button) -%}
  <div class="form-group" >
    <!-- <label for="feedback_to_solution">  <strong> Комментировать: </strong> </label> -->
    <textarea class="form-control" rows="8"  name='{{name_of_textarea}}'></textarea>
    <input type="file" name="image">
  </div>
  <button type="submit" class="btn btn-default"><!-- Отправить -->{{name_of_the_button}}</button>
{%- endmacro %}

