{% import 'macros/forms.html' as form_macros %}

{% macro solution(solution, inscription) -%}

<div class="blog-post">
  <p class="blog-post-meta">{{inscription}}
  {% if solution.status=='checked_correct' %}
    <strong style='color:green'> Проверено, правильное.</strong>
  {% endif %}
  {% if solution.status=='checked_incorrect' %}
    <strong style='color:#E78798'> Проверено, надо доработать.</strong>
  {% endif %}
  </p>
  <div class='solution'>{{ solution.text }} <!-- no newline, because white-space: pre-wrap -->
    {% if solution.image_url %}
    <img src="{{solution.image_url}}" class="img-responsive" alt='responsive image'>
    {% endif %}
  </div>
</div>

{%- endmacro %}

{% macro display_votes(solution) -%}

<label class="upvote"><input type="radio" name="vote" value="upvote"></label>
<p class="upvotes_sum">{{solution.upvotes}}</p>
<p class="votes_separator">-</p>
<p class="downvotes_sum">{{solution.downvotes}}</p>
<label class="downvote"><input type="radio" name="vote" value="downvote"></label>
<button type="submit" class="btn btn-xs btn-default">Проголосовать</button>

{%- endmacro %}
