{% import 'macros/forms.html' as form_macros %}


{% macro solution(solution, inscription) -%}

<div class="blog-post">
  <p class="blog-post-meta"><strong>{{inscription}}</strong> 
  {% if solution['status']=='checked_correct' %}
    <strong style='color:green'> Проверено, правильное.</strong>
  {% endif %}
  {% if solution['status']=='checked_incorrect' %}
    <strong style='color:red'> Проверено, неправильное.</strong>
  {% endif %}
  </p>
  <pre>{{ solution['text'] }}</pre>
</div>

{%- endmacro %}


{% macro display_votes(solution) -%}

<p>{{solution.get("upvotes")}} верно </p>
<p>{{solution.get('downvotes')}} неверно</p>

{%- endmacro %}