body {
  padding-top: 70px; /* for the navbar and a lil more */
  font-family: 'Computer Modern Bright';
  font-size: 18px;
  line-height: 24px;
  /*text-align: justify;*/
  /* 
  background-image: url(https://download.unsplash.com/photo-1429091967365-492aaa5accfe);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  */
}

pre {
    background-color: white;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  body {
    padding-top: 60px; /* for the navbar and a lil more */
  }
}
