body {
  padding-top: 70px; /* for the navbar and a lil more */
  font-family: 'Computer Modern Bright';
  font-size: 18px;
  line-height: 24px;
  /*text-align: justify;*/
}

pre {
    background-color: white;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  body {
    padding-top: 60px; /* for the navbar and a lil more */
  }
}

ol {
    list-style-position: inside;
    padding-left:0;
}