{% extends "layout.html" %}
  {% block head %}
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <link href="/static/login.css" rel="stylesheet">
  {% endblock %}
{% block body %}
  <!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->
  
  <div class="row">
  <div class="col-md-12">
  <div class='googleLogin'>
    
    <!-- <div style='height:100px'></div> -->
    <div id='signinButton'>
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="{{client_id_yep}}"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force"> 
      </span>
    </div>
    <div id='result'></div>
    <script>
    function signInCallback(authResult) { 
      if (authResult['code']){
        //hide the sign-in button
        $('#signinButton').attr('style','display:none');
        //passing to server 1-time code google gave to user
        $.ajax({
          type: 'POST',
          url: '/user/gconnect?state={{session["state"]}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/home";
             }, 2000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          }
        });
      }
    }
    </script>

    
  </div>
  </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      


      <form class="form-signin" action="{{ url_for('user.login') }}" role="form" method=post>
        {{ signin_form.hidden_tag() }}
        <dl>
          {% if error %}
            <div class="alert alert-warning error" role="alert"> 
              <strong>Error:</strong> {{ error }} 
            </div> 
          {% endif %}
            <h2 class="form-signin-heading">Or login with email.</h2>
            <label for="inputLogin" class="sr-only">Email</label>
            <input id="inputLogin" class="form-control" type=text placeholder="email" autofocus required name='email'>
            <label for="last" class="sr-only">Password</label>
            <input id="last" class="form-control" type=password placeholder="Password" required name='password'>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value='Login'>Login</button>
            <!-- <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div> -->
        </dl>
      </form>
    </div>
  </div>


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>  --> 
{% endblock %}