{% extends "layout.html" %}
  {% block head %}
    <link href="/static/login.css" rel="stylesheet">
  {% endblock %}
{% block body %}
  <!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->
  


  <div class="row">
    <div class="col-md-12">
      <form class="form-signin" action="{{ url_for('user.login') }}" role="form" method=post>
        {{ signin_form.hidden_tag() }}
        <dl>
          {% if error %}
            <div class="alert alert-warning error" role="alert"> 
              <strong>Error:</strong> {{ error }} 
            </div> 
          {% endif %}
            <h2 class="form-signin-heading">Please, sign in.</h2>
            <label for="inputLogin" class="sr-only">Username</label>
            <input id="inputLogin" class="form-control" type=text placeholder="Username" autofocus required name='username'>
            <label for="last" class="sr-only">Password</label>
            <input id="last" class="form-control" type=password placeholder="Password" required name='password'>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value='Login'>Sign in</button>
            <!-- <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div> -->
        </dl>
      </form>
    </div>
  </div>


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>  --> 
{% endblock %}