{% extends "layout.html" %}
  {% block head %}
    <link href="/static/login.css" rel="stylesheet">
  {% endblock %}
{% block body %}
  <!-- {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %} -->
  


  <div class="row">
    <div class="col-md-12">
      <form class="form-signin" action="{{ url_for('user.signup') }}" role="form" method=post>
        {{ signup_form.hidden_tag() }}
        <dl>
          {% if error %}
            <div class="alert alert-warning error" role="alert"> 
              <strong>Error:</strong> {{ error }} 
            </div> 
          {% endif %}
            <h2 class="form-signin-heading">Registration.</h2>
            <label for="inputLogin" class="sr-only">Username</label>
            <input id="inputLogin" class="form-control" type=text placeholder="Username" autofocus required name='username'>
            <label for="inputPassword" class="sr-only">password</label>
            <input id="inputPassword" class="form-control" type=password placeholder="Password" required name='password'>
            <label for="inputConfirmPassword" class="sr-only">confirm the password</label>
            <input id="inputConfirmPassword" class="form-control" type=password placeholder="Confirm the password" required name='confirm_password'>
            <label for="last" class="sr-only">email</label>
            <input id="last" class="form-control" type=text placeholder="Email" required name='email'>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value='signup'>Sign up</button>
        </dl>
      </form>
    </div>
  </div>



  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- // <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>  --> 
{% endblock %}