{% extends "layout.html" %}
{% block body %}

  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>Evarist</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Только практика.</h2>
      <p>
        В системе практически нет теоретического материала. Всю теоретическую составляющую учащийся строит сам, решая задачи. Задания составлены так, чтобы предоставить "лестницу" из задач, прорешивая которые, учащийся осваивает материал.
      </p>
      <div class="highlight">
        <pre>
          Теория X.
            Определение 1.  X называется Y если ... .
            Задача 1. Покажите, что из определения следует свойство 1.
            Задача 2. Покажите, что из определения следует свойство 2.
            Определение 2.  
            Задача 3. Покажите, что из определений 1 и 2 следует свойство 3.
            Задача 4. Чему равно x, если XX имеет свойство Y, а z=5.789?
            Задача 5. Сколько различных Y существует для данного X?
            Задача 6. Возможно ли что ... ?
        </pre>
      </div>

      <p>
        <!-- Мы создаем систему в которой просто прорешивая задачи можно выучить математику на уровне выше, чем тот, который гарантирует диплом ВУЗа. -->
        Процесс обучения может проходить в удобном для каждого темпе, независимо от других обучающихся, и без затрат на репетиторов. Конечно изучение математики &#x2014 непростая работа, которая, как любое самосовершенствование, состоит из преодоления барьеров увеличивающейся сложности. Но, пусть мы не можем решать за вас задачи, мы обещаем сделать процесс как можно более простым и приятным, убирая все нерелевантные трудности. Например, такие как отсутствие собственного контроля над процессом, обратной связи, невозможность быстро получить ответы на вопросы, неимение структурированной программы.  
      </p>

      <p>
        Возможно, многие из вас ходят в тренажерный зал или занимаются спортом. Эварист &#x2014 это спортзал для ума.

  <!--                 Такой подход позволяет выучить университетскую программу за гораздо более короткое время, чем обычные 4 года. Цели, трудолюбие и талант студента диктуют темп обучения. -->
      </p>

      <div class='about-community'>
        <h2>Сообщество.</h2>
        <p>
          Самообучение является важной незаменимой частью нашего подхода. Однако, хотя для многих не остается другого выбора, нет ничего хуже обучения в изоляции. Лучше всего учиться, имея под рукой сверстников, идущих параллельно по тому же пути, атмосферу легкого соревнования и доступ к более продвинутым адептам, готовым давать советы и отвечать на вопросы.
        </p>
        <p>
          Для этого мы создаем вспомогательный механизм. К каждой задаче в системе прикреплена дискуссия.
        </p>
        <p>
          Мы преследуем две главные цели при построении сообщества:
        </p>
        <dl class="goals"><!-- todo: make it dd dt -->
          <dt>Чтобы каждый студент мог получить ответ на любой вопрос в любой момент времени вне зависимости от своего географического положения.</dt>

          <dd>Этого можно достичь, если на сайте все время присутствует достаточное количество продвинутых пользователей. Так же такие технологии Q&A как <a href="http://stackoverflow.com/">stackexchange</a> позволяют тратить все меньше и меньше времени на ответ.</dd>
          
          <dt>Чтобы каждое решение задачи проверялось бесплатно.</dt>

          <dd>
            <p> Этого можно достичь при помощи комбинации следующих механизмов.</p>
            <p> В первую очередь, автоматическая проверка везде, где это возможно. Этот механизм покрывает нe более, нe менее, чем все задачи, в которых верный численный ответ дает достаточную уверенность в правильности решения.</p>
            <p> Члены сообщества проверяют решения. Это необходимо для задач "на доказательство", где играет роль формальная цепочка логических заключений. Баланс достигается когда каждый участник в конечном итоге проверяет эквивалент такого же количества решений, какое сдает. Иначе говоря, когда выпускники системы "возвращают долг" тем, что проверяют задачи нынешних студентов.</p>
            <p> Наконец, важную роль играет накопление базы данных решений и комментариев. Если под рукой десятки, а то проверенных решений, проверка очередного занимает гораздо меньшее время. Кроме того, во многих случаях студент может проверить свое решение просто сравнив его с правильным.</p>
          </dd>
        </ol>
      </div>
      <hr>
      </p>
        Пара слов о тестовом контенте. Сейчас - это программа 8го класса маткласса 57ой школы (именно по этим задачам в свое время обучались авторы проекта). Мы не собираемся ограничиваться этим. Пока это пробный материал, на котором мы проводим beta-тест.
      <p>
    </div>
  </div>

{% endblock %}
