{% extends "layout.html" %}

{% block head %}
  <title>Evarist - blog.</title>
{% endblock %}

{% block body %}

  
  <div style='height:20px'></div>

  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <!-- First Blog Post -->
      <h2>
        Начало!
      </h2>
      <!-- <p class="lead">
          by <a href="index.php">Start Bootstrap</a>
      </p> -->
      <p><i class="fa fa-clock-o"></i> Сентябрь 2, 2015, 23:00</p>
      <hr>
      
      <p>
        Мы хотим сформировать сообщество в интернете, в котором люди изучают математику, решая и проверяя друг у друга задачи. Для этого мы создали этот вебсайт, и сегодня приглашаем всех учиться к нам. Вдохновила нас на это система математического образования Н.Н.Константинова, которая эффективно работает на кружках, в матшколах, и на математических факультетах. Мы создаем возможность изучать математику по этой методике в интернете (<a href="http://www.evarist.org/about">читать подробнее о методике</a> у нас на сайте), основываясь на опыте форумов <a href="http://mathoverflow.net/">mathoverflow</a> и <a href="http://math.stackexchange.com/">mathstackexchange</a>.
      </p>
      <p>
        Мы начинаем с курса <a href="http://www.evarist.org/course/matan">математического анализа</a> 57ой школы, по которому обучались сами. Так же этой осенью на нашем сайте будут сдаваться задачи и выкладываться лекции по трем курсам университетского уровня. Это <a href="http://www.evarist.org/course/cosmology">курс по космологии</a> на физфаке, курс о действиях тора из НМУ и курс по оптимальным методам управления на мехмате. Проходить их приглашаются все желающие, в том числе те, кто не посещает курсы вживую.
      </p>
      <p>
        Работает все довольно просто. Вы заходите в интересующую вас тему, предположим в <a href="http://www.evarist.org/problem_sets/teoriya-graphov-1/">теорию графов</a>. Решаете какую-нибудь задачу, например, восьмую и нажимаете на <a href="http://www.evarist.org/problem_sets/teoriya-graphov-1/problem/55ba153d3eab101ba023bf22/">отправить решение</a>. На появившейся страничке вы, предварительно <a href="http://www.evarist.org/user/login">зарегистрировавшись или зайдя через google</a>, записываете свое решение. Далее те, кто уже решил эту задачу, проверяют ваше решение. Действует простое правило: решения задачи, написанные остальными учащимися, становятся видны, только если ваше решение правильное. Если решение оказалось неверным, то вы исправляете его в соответствии с замечаниями, оставленными проверяющим. 
      </p>
       <p>  
        Еще одна деталь. На сайте у каждого пользователя есть "карма" - число, которое отражает уровень активности. Чем больше вы решаете и (особенно) проверяете, тем больше у вас карма.
      </p> 
      <p> 
        Всем добро пожаловать, и удачи с задачами!
      </p> 
      <p>
        Леша и Артем.
      </p>
      <p>
        P.S. Если вы хотите помочь запустить наше сообщество, то заходите <a href="https://github.com/artofkot/evarist">сюда</a>; вопросы и идеи пишите <a href="http://www.evarist.org/contact">здесь</a>.
      </p>

      <hr>
      <!-- Second Blog Post -->
    </div>
  </div>


{% endblock %}
