{% import 'macros/solutions.html' as solution_macros %}
{% import 'macros/forms.html' as form_macros %}
{% import 'macros/comments.html' as comment_macros %}

{% extends "layout.html" %}
{% block head %}
  <title>Чужие решения</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="{{url_for('workflow.home')}}">Обратно к списку тем</a>
      <hr>
    </div>
  </div>

  

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Здесь находятся решения ко всем задачам, которые вы уже решили. Решив какую-либо задачу, вы получаете право смотреть и проверять другие решения этой задачи, и эта страница сделана для удобства этого процесса. Проверив решение можно проголосовать за "верно" или "неверно", и написать отзыв при необходимости (например если решение не доведено).</p>
      <!-- <h3>Это решения, которые можно проверить, то есть проголосовать за "верно" или "неверно", и написать отзыв при необходимости (например если решение недоведено). Вы можете проверять только уже решенные вами задачи. </h3> -->
      <hr>
    </div>
  </div>

  <div class="row">
    
    <div class="col-md-6 col-md-offset-0">
      <h3>Непроверенные задачи:</h3>
      {%for solution in not_checked_solutions%}
          <!-- solutions text, and a link to problem set -->
          <div>
            <a href="/problem_sets/{{solution.problem_set['slug']}}">{{solution.problem_set['title']|safe}}</a>.
            <a href="/problem_sets/{{solution.problem_set['slug']}}/problem/{{solution.problem.id}}">Задача {{solution.problem.number_in_problem_set}}</a>.
            <p>
              {{solution.problem['text']|safe}}
            </p>
          </div>

          <!-- solution -->
          {{solution_macros.solution(solution=solution,inscription=gettext('Решение от <strong>%(author)s</strong>', author = solution['author']))}}


          <!-- votes + form for voting-->
          <div class='row'>
            <!-- votes -->
            <div class="col-md-4 col-md-offset-1">
              {{solution_macros.display_votes(solution)}}
            </div>

            <!-- vote form -->
            <div class="col-md-4 col-md-offset-2">
            {%if g.user not in (  solution['users_upvoted']|list + solution['users_downvoted']|list )%}
              <form action="{{request.path}}?sol_id={{solution['id']}}" method="post">
                {{ vote_form.hidden_tag() }}
                {{ form_macros.vote_for_solution_form() }}
              </form>
            {%else%}
              <p><strong style='color:green'> Вы уже проголосовали.</strong></p>
            {%endif%}
            </div>
          </div>
          
          <div style='height:14px'></div>

          <!-- comment form -->
          <form action=" {{url_for('.check', sol_id=solution['id'])}}" method="post">
            {{ solution_comment_form.hidden_tag() }}
            {{ form_macros.comment_form(name_of_textarea="feedback_to_solution", name_of_the_button="Оставить комментарий") }}
          </form>

          <div style='height:5px'></div>

          <!-- displaying comments if they exist -->
          {% if solution.discussion%}
            <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapse_Id_{{loop.index}}" aria-expanded="true" aria-controls="collapse_Id_{{loop.index}}">
              спрятать комментарии
            </button>
            <div class="collapse in" aria-expanded="true" id="collapse_Id_{{loop.index}}">
              {% for comment in solution['discussion']  %}
                {{ comment_macros.comment(comment) }}
              {% endfor %}
            </div>
          {% endif %}

          <div style='height:50px'>
          </div>
          <hr class="thick">
      
      {%endfor%}
    </div>

    <div class="col-md-6 col-md-offset-0">
      <h3>Проверенные задачи:</h3>
      {%for solution in checked_solutions%}
          <!-- solutions text, and a link to problem set -->
          <div>
            <a href="/problem_sets/{{solution.problem_set['slug']}}">{{solution.problem_set['title']|safe}}</a>.
            <a href="/problem_sets/{{solution.problem_set['slug']}}/problem/{{solution.problem.id}}">Задача {{solution.problem.number_in_problem_set}}</a>. 
            <p>
              {{solution.problem['text']|safe}}
            </p>
          </div>

          <!-- solution -->
          {{solution_macros.solution(solution=solution,inscription=gettext('Решение от <strong>%(author)s</strong>', author = solution['author']))}}

          <!-- votes + form for voting-->
          <div class='row'>
            <!-- votes -->
            <div class="col-md-4 col-md-offset-1">
              {{solution_macros.display_votes(solution)}}
            </div>

            <!-- vote form -->
            <div class="col-md-4 col-md-offset-2">
            {%if g.user not in (  solution['users_upvoted']|list + solution['users_downvoted']|list )%}
              <form action="{{request.path}}?sol_id={{solution['id']}}" method="post">
                {{ vote_form.hidden_tag() }}
                {{ form_macros.vote_for_solution_form() }}
              </form>
            {%else%}
              <p><strong style='color:green'> Вы уже проголосовали.</strong></p>
            {%endif%}
            </div>
          </div>
          
          <div style='height:14px'></div>

          <a href="/problem_sets/{{solution.problem_set['slug']}}/problem/{{solution.problem.id}}" class="btn btn-default" role="button">Оставить комментарий (на странице задачи)</a>

          <div style='height:5px'></div>

          <!-- displaying comments if they exist -->
          {% if solution.discussion%}
            <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapse_Idd_{{loop.index}}" aria-expanded="true" aria-controls="collapse_Idd_{{loop.index}}">
              спрятать комментарии
            </button>
            <div class="collapse in" aria-expanded="true" id="collapse_Idd_{{loop.index}}">
              {% for comment in solution['discussion']  %}
                {{ comment_macros.comment(comment) }}
              {% endfor %}
            </div>
          {% endif %}

          <div style='height:50px'>
          </div>
          <hr class="thick">
      {%endfor%}  
    </div>
  </div>

{% endblock %}