{% extends "layout.html" %}
{% block body %}

  
  <div style='height:20px'></div>

  <div class="row"> 
    <div class="col-md-6 col-md-offset-2">
      <p>
        <ol class="list-unstyled"> 
          Авторы проекта:
          <li>
            Алексей Левин,
            <em>lvn@bu.edu</em>
          </li>
          <li>
            Артем Котельский,
            <em>artemk@math.princeton.edu</em>
          </li>
        </ol>
      </p>

      <hr>

      <p><b>Вопросы и пожелания пишите сюда, будем очень рады.</b></p>

      <form action="{{url_for('workflow.contact')}}" method="post">
        <div class="form-group" >
          {{ website_feedback_form.hidden_tag() }}

          <textarea class="form-control" rows="5"  name='feedback'></textarea>
          
          {% if not g.user%}
            {{website_feedback_form.email.label('Ваш e-mail')}}
            {{website_feedback_form.email(class='form-control')}}
          {%endif%}

        </div>
        <button type="submit" class="btn btn-default">Отправить</button>
      </form>
    </div>
  </div>
{% endblock %}
