{% extends "layout.html" %}
{% block head %}
   <title>{{cosmo_course['name']}}</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="{{url_for('workflow.home')}}">К главной странице</a>
    </div>
  </div>

  <!-- <div style='height:20px'></div> -->

  <hr>

  <div class="row">
    <div class="col-md-5 col-md-offset-2 problem_set">
      <div class="panel panel-default" id='matan-course-panel'>
        <div class="panel-heading">
          <h3>{{cosmo_course.name}}</h3>
        </div>

        <div class="panel-body">
          <p><a class="my_anchor" id="lect0"></a>Лекция 0. Прелюдия.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[0:4]%}
              <li>
                <p>
                0.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect1"></a>Лекция 1. Расширяющаяся Вселенная. Кинематика.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[4:7]%}
              <li>
                <p>
                1.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
              <li>
                <p>
                1.3.1. <a href="http://www.evarist.org/problem_sets/krasnoe-smeshenie-prob/">Красное смещение: задачи</a></p>
              </li>
            {%for problem_set in cosmo_course.problem_sets[8:10]%}
              <li>
                <p>
                1.{{loop.index + 3}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect2"></a>Лекция 2. Расширяющаяся Вселенная. Динамика.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[10:16]%}
              <li>
                <p>
                2.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect3"></a>Лекция 3. Стандартная космологическая модель.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[16:20]%}
              <li>
                <p>
                3.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect4"></a>Лекция 4. Стандартная космологическая модель. Продолжение.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[20:24]%}
              <li>
                <p>
                4.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect5"></a>Лекция 5. Рекомбинация.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[24:28]%}
              <li>
                <p>
                5.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect6"></a>Лекция 6. Рекомбинация. Продолжение.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[28:31]%}
              <li>
                <p>
                6.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect7"></a>Лекция 7. Нейтрино во Вселенной.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[31:34]%}
              <li>
                <p>
                7.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect8"></a>Лекция 8. Первичный нуклеосинтез.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[34:39]%}
              <li>
                <p>
                8.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
          <p><a class="my_anchor" id="lect9"></a>Лекция 9. Неоднородности плотности. Ньютонов подход.</p>
          <ul style='list-style-type:none'>
            {%for problem_set in cosmo_course.problem_sets[39:]%}
              <li>
                <p>
                9.{{loop.index}}. <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}