{% extends "layout.html" %}
{% block head %}
   <title>{{course['name']}}</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="{{url_for('workflow.home')}}">К главной странице</a>
    </div>
  </div>

  <!-- <div style='height:20px'></div> -->

  <hr>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 problem_set">
      <div class="panel panel-default" id='matan-course-panel'>
        <div class="panel-heading">
          <h3>{{course.name}}</h3>
        </div>

        <div class="panel-body">
            <ol style='list-style-type:none'>
              {%for problem_set in course.problem_sets%}
                <li>
                  <p><a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
                </li>
              {% endfor %}
            </ol>
        </div>
      </div>
    </div>
  </div>

{% endblock %}