{% extends "layout.html" %}
{% block body %}

  
  <div style='height:20px'></div>

  <div class="row"> 
    <div class="col-md-6 col-md-offset-3">
      <p>
        <b>Что за цифры рядом с именем пользователя?</b> <br>
        Число справа от имени пользователя (мы называем его <em>кармой</em>) отражает то, насколько пользователь активен на сайте. Чем больше вы решаете и (особенно) проверяете задач, тем оно больше.
      </p>
      <p>
        <b>Почему на сайте так много разного вида материалов?</b> <br>
        Потому что мы тестируем разные способы подачи, чтобы знать, какой формат больше подходит вам.
      </p>
      <p>
        <b>Как набирать математические формулы?</b> <br>
        Для набора математических формул на сайте поддерживается <a href="https://ru.wikipedia.org/wiki/TeX">TeX</a>: просто заключите вашу TeX формулу в долларовые знаки, например \$e^\pi\$, и в вашем решении потом отобразится скомпилированная формула $e^\pi$. В этой <a href="http://users.dickinson.edu/~richesod/latex/latexcheatsheet.pdf">шпаргалке</a> описаны TeX формулы для наиболее часто встречающихся математических символов.
      </p>


    </div>
  </div>

  <!-- <div class="row">
    <div class="col-lg-12">
      <a href="http://ironsummitmedia.github.io/startbootstrap-modern-business/faq.html">for accordeon</a>    
    </div>
  </div> -->

{% endblock %}
