{% extends "layout.html" %}
{% block body %}

  
  <div style='height:20px'></div>

  <div class="row"> 
    <div class="col-md-6 col-md-offset-3">
      <p>
        <b>Что за цифры рядом с именем пользователя?</b> <br>
        Число справа от имени пользователя (мы называем его <em>кармой</em>) отражает то, насколько пользователь активен на сайте. Чем больше вы решаете и (особенно) проверяете задач, тем оно больше.
        <br>
        <br>
        <b>Почему на сайте так много разного вида материалов?</b> <br>
        Потому что мы тестируем разные способы подачи, чтобы знать, какой формат больше подходит вам.
      </p>


    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p><b>Часто задаваемые вопросы:</b></p>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#karma">
              Что за цифры рядом с именем пользователя?
            </a>
          </div>
          <div id="karma" class="accordion-body collapse">
            <div class="accordion-inner">
              Число справа от имени пользователя (мы называем его <em>кармой</em>) отражает то, насколько пользователь активен на сайте. Чем больше вы решаете и (особенно) проверяете задач, тем оно больше.
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#multiple_formats_of_content">
              Почему на сайте так много разного вида материалов?
            </a>
          </div>
          <div id="multiple_formats_of_content" class="accordion-body collapse">
            <div class="accordion-inner">
              Потому что мы тестируем разные способы подачи, чтобы знать, какой формат больше подходит вам.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}
