{% extends "layout.html" %}
{% block body %}

  
  <div style='height:20px'></div>

  <div class="row"> 
    <div class="col-md-6 col-md-offset-2">
      <p>
        <b>Что за цифры рядом с именем пользователя?</b> <br>
        Число справа от имени пользователя (мы называем его <em>кармой</em>) отражает то, насколько пользователь активен на сайте. Чем больше вы решаете и (особенно) проверяете задач, тем оно больше.
        <br>
        <br>
        <b>Почему на сайте так много разного вида материалов?</b> <br>
        Потому что мы тестируем разные способы подачи, чтобы знать, какой формат больше подходит вам.
      </p>


    </div>
  </div>
{% endblock %}
