{% extends "layout.html" %}
{% block head %}
    
    <script type='text/javascript' src='static/vendor/jQuery-Plugin-For-Particle-System-Background-with-Parallax-Effect-Particleground/jquery.particleground.js'></script>
    <script type='text/javascript' src='static/js/particles.js'></script>

{% endblock %}
{% block body %}

  <div id="particles" class="row">
    <div class="col-md-12">
    </div>
  </div>

  
  <div class="jumbotron on_particles">
    <div class="row" >
      <div col-md-12>
        <h1 >{{gettext("Evarist")}}</h1>
        <!-- <h1 class="text-center">{{gettext("Evarist")}}</h1> -->
      </div>
    </div>
    <div class="row">
      <div col-md-12>
        <h3>{{gettext("Место где старшеклассники и студенты решают и обсуждают математические задачи.")}}</h3>
        <!-- <h3 class="text-center">{{gettext("Платформа для решения и обсуждения математических задач для старшеклассников и студентов.")}}</h3> -->
      </div>
    </div>
  </div>

  <hr>

  <div class="row"> <!-- admin link -->
    <div class="col-md-12">
      {% if g.user and g.user.rights.is_moderator%}
        <p><a href="{{url_for('admin.home')}}">(go to admin's page)</a></p>
      {%endif%}
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <p class="lead">
        <h3> Изучить: </h3>
        <ol style='list-style-type:none'>
          {%for problem_set in problem_sets%}
            <li>
              <p><a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
            </li>
          {% endfor %}
        </ol>
      </p>
    </div>
    <div class="col-md-3">
      {% if g.user%}
        <p><a href="{{url_for('workflow.my_solutions')}}">Cмотреть свои решения</a></p>
        <p><a href="{{url_for('workflow.check')}}">Cмотреть чужие решения</a></p>
      {%endif%}
    </div>
  </div>

  <hr>
  
  <div style='height:150px'></div>

  <div class="row"> 
    <div class="col-md-6 col-md-offset-3">
        <form action=" {{url_for('workflow.home')}}" method="post">
          <div class="form-group" >
            {{ website_feedback_form.hidden_tag() }}

            <label for="feedback">  <strong> Что скажете? </strong> </label>
            <textarea class="form-control" rows="5"  name='feedback'></textarea>
            
            {% if not g.user%}
              {{website_feedback_form.email.label('Ваш email (необязательно)')}}
              <!-- oh my fucking god, u can do this -->
              {{website_feedback_form.email(class='form-control')}}
              <!-- instead of this -->
              <!-- <input type="text" class="form-control" name="email"> -->
            {%endif%}
          
          </div>
          <button type="submit" class="btn btn-default">Отправить</button>
        </form>
    </div>
  </div>
  <hr>

{% endblock %}
