{% extends "layout.html" %}
{% block head %}
  <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56745698-2', 'auto');
    ga('send', 'pageview');
  </script>
{% endblock %}
{% block body %}

  
  <div class="jumbotron">
    <h1 class="text-center">Evarist</h1>
  </div>

  <div class="row" class="one-liner">
    <h1 class="text-center">Одна строчка по-русски.</h1>
  </div>

  <div class="row" class="landing-description">
    <div class="col-md-8 col-md-offset-2">
      <h3>Только практика.</h6>
        <p>
          В системе практически нет теоретического материала. Всю теоретическую составляющую учащийся строит сам, решая задачи.
          Задания составлены так чтобы предоставить "лестницу" из задач, поднимаясь по которой, учащийся осваивает материал.
        </p>
        <div class="highlight">
          <pre>
            Теория X.
              Определение 1.  X называется Y если ... .
              Задача 1. Покажите, что из определения следует свойство 1.
              Задача 2. Покажите, что из определения следует свойство 2.
              Определение 2.  
              Задача 3. Покажите, что из определений 1 и 2 следует свойство 3.
              Задача 4. Чему равно x, если XX имеет свойство Y, а z=5.789?
              Задача 5. Сколько различных Y существует для данного X?
              Задача 6. Возможно ли что ... ?
          </pre>
        </div>

        <p>
          Мы создаем систему в которой просто прорешивая задачи можно выучить математику на уровне выше, чем тот, который гарантирует диплом ВУЗа.
          We are building a system in which simply by working their way through material student will be able to learn math on the level higher than what a diploma from top institutions guarantee. 
        </p>

        <p>
          This can be done self-paced and isolated - not having peers and without spending on tutors.
        </p>

        <p>
          That, of course, is not an easy task - learning math, as any training, is about overcoming challenges of increasing difficulty. However, although we can not solve the problems for you, we are commited to making the process as easy and pleasing as possible, particularly by removing side-effect difficulties, such as not having feedback, having no control of the process, not being able to get answers on questions, having no guidelines on what to learn next and such.
        </p>

        <p>
          Think of this as a gym or a dojo where the whole program and every training apparatus are provided.
          Relax, take your time, get around and gradually refine yourself into perfect thinker.
        </p>

        <p>
          Such approach gives ability to finish a university course in much shorter or longer period of time than usual 4-year program. This only depends on the students goals, commitment and talent.
        </p>

      <h3>Community. </h3>
        <p>
          It was said that our material fits a paradigm of standalone self-education.
        </p>

        <p>
          However, although it is a resort for many, studying in isolation is the worst way of learning. The best way is having peers, having a healthy not too pressing competion, having live communication with higher adepts that are ready to guide and answer questions.
        </p>
        
        <p>
          For that we are building a supporting platform, where for each problem there is a discussion attached.
        </p>
        
        <p>
          We have two main goals for community platform:
            
          <ul>
            <li>
              <b>To reach the state when any answer of any student can immideately be answered at any point of time regardless of student's geographical position.</b><br><br>


              This will be achieved once there is always a significant number of advanced users online. 
              For example, it's enough to have at any moment 5 graduate students to answer most questions a course of first-years will have. 
              Note that with such technologies as stack-exchange accumulating answers database, answering questions takes less and less time and in majority of cases boils down to "read this link".
              <br><br>
            </li>
            
            <li>
              <b>To reach the state when every solution for a problem is checked for free.</b><br><br>

              This will be achieved by a combination of the following mechanisms:
                <ul>
                  <li>
                  Automatic checking everywhere, where possible.<br>
                  This covers no less than all problems, where exact numeric answer gives reasonable guarantee of the correctness of the solution.
                  </li>
                  <li>
                  Community checking written solutions.<br>
                  This is mainly for the prove-something problems, where the formal argumentation is checked. The balance is reached when every participator checks an equivalent of as many solutions as they submit. Simply put, the system works when alumni give back by tutoring current students for free. This is proven to work in offline communities of mathematicians.
                  </li>
                  <li>
                  Building a database of answers and solutions.<br>
                  In many cases, the student can check themself by viewing right solution after finding the answer their own way. Also, after a database of tens (or hundreds) of different solutions for a given problem is gathered, checking becomes much easier and can be done very quickly without lowering the confidence-level. It becomes a matter of checking a known number of steps in solution.
                  </li>
                </ul>
            </li>
          </ul>
        </p>
        <br>

        <p>
          To get a better idea of our system make a quick dive into showcase problem sets:
        </p>
  </div>

{% endblock %}
