{% extends "layout.html" %}
{% block head %}
  <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56745698-2', 'auto');
    ga('send', 'pageview');
  </script>
{% endblock %}
{% block body %}
  
  <div class="jumbotron">
    <h1 class="text-center">Evarist</h1>
  </div>

  <div class="row" class="one-liner">
    <h1 class="text-center">A place on the internet to learn University-level math.</h1>
  </div>

  <div class="row" class="landing-description">
    <div class="col-md-8 col-md-offset-2">
    <!-- <h2>Our method.</h2> -->
      <h3>1. Only practice.</h6>
        <p>
          There is almost no theoretical material. The whole theory is built by student themself through solving problems. The tasks are structured as to provide a "scaffolding" for student's progress.
        </p>
        <div class="highlight">
          <pre>
            X theory.
              Definition 1.  X is called Y if ... .
              Problem 1. Show that definition => property 1.
              Problem 2. Show that definition => property 2.
              Definition 2.  
              Problem 3. Show that def1, def2 => property 3.
              Problem 4. What is the value of X1 if X1 is Y-ish and Z is 5.789?
              Problem 5. How many different Y's are there for a given Z?
              Problem 6. Is it possible that ... ?
          </pre>
        </div>

        <p>
          We are building a system in which simply by working their way through material student will be able to learn math on the level higher than what a diploma from top institutions guarantee. 
        </p>

        <p>
          This can be done self-paced and isolated - not having peers and without spending on tutors.
        </p>

        <p>
          That, of course, is not an easy task - learning math, as any training, is about overcoming challenges of increasing difficulty. However, although we can not solve the problems for you, we are commited to making the process as easy and pleasing as possible, particularly by removing side-effect difficulties, such as not having feedback, having no control of the process, not being able to get answers on questions, having no guidelines on what to learn next and such.
          <!-- Learning math is not an easy task. As any training, it is about overcoming challenges of increasing difficulty. However, although we can not solve the problems for you, we are commited to making the process as easy and pleasing as possible, particularly by removing side-effect difficulties, such as not having proper feedback, having no control of the process, not being able to get answers on questions, having no guidelines on what to learn next and such. -->
        </p>

        <p>
          Think of this as a gym or a dojo where the whole program and every training apparatus are provided.
          Relax, take your time, get around and gradually refine yourself into perfect thinker.
        </p>

        <p>
          Such approach gives ability to finish a university course in much shorter or longer period of time than usual 4-year program. This only depends on the students goals, commitment and talent.
        </p>

      <h3>2. Community. </h3>
        <p>
          It was said that our material fits a paradigm of standalone self-education.
        </p>

        <p>
          However, although it is a resort for many, studying in isolation is the worst way of learning. The best way is having peers, having a healthy not too pressing competion, having live communication with higher adepts that are ready to guide and answer questions.
        </p>
        
        <p>
          For that we are building a supporting platform, where for each problem there is a discussion attached.
        </p>
        
        <p>
          We have two main goals for community platform:
            
          <ul>
            <li>
              To reach the state when any answer of any student can immideately be answered at any point of time regardless of student's geographic postition.<br><br>


              This will be achieved once there is always a significant number of advanced users online. 
              For example, it's enough to have at any moment 5 graduate students to answer most questions a course of first-years will have. 
              Note that with such technologies as stack-exchange accumulating answers database, answering questions takes less and less time and in majority of cases boils down to "read this link".
            </li>
            
            <li>
              To reach the state when every solution of a problem is checked for free.

                This will be achieved by a combination of the following mechanisms:
                  <ul>
                    <li>
                    Automatic checking everywhere, where possible.<br>
                    This covers no less than all problems, where exact numeric answer gives reasonable guarantee of the correctness of the solution.
                    </li>
                    <li>
                    Community checking written solutions.<br>
                    This is mainly for the prove-something problems, where the formal argumentation is checked. The balance is reached when every participator checks an equivalent of as many solutions as they submit. Simply put, the system works when alumni give back by tutoring current students for free. This is proven to work in offline communities of mathematicians.
                    </li>
                    <li>
                    Building a database of answers and solutions.<br>
                    In many cases, the student can check themself by viewing right solution after finding the answer their own way. Also, after a database of tens (or hundreds) of different solutions for a given problem is gathered, checking becomes much easier and can be done very quickly without lowering the confidence-level. It becomes a matter of checking a known number of steps in solution.
                    </li>
                  </ul>
            </li>
          </ul>
        </p>

        <p>
          To get a better idea of our system make a quick dive into showcase problem sets:
        </p>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>
        {% if session.get("is_moderator")%}
        <a class='pull-right' href="{{url_for('admin.home')}}">(go to admin's page)</a>
        {%endif%}
    
        <dl>
          <dt>Problem sets:</dt>
          <br>
          {%for problem_set in problem_sets%}
            <dd>
              <p><a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
            </dd>
          {% endfor %}
        </dl>
      
      </h3>
    </div>
  </div>
  

  <hr>
  <div style='height:200px'></div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>
        <form action=" {{url_for('workflow.home')}}" method="post">
          <div class="form-group" >
            {{ website_feedback_form.hidden_tag() }}
            <label for="feedback">  <strong> We love feedback. Tell us your thoughts: </strong> </label>
            <textarea class="form-control" rows="5"  name='feedback'></textarea>
            
            {% if not 'username' in session%}
              <label for="email">Your email (optional) </label>
              <input type="text" class="form-control" name="email">
            {%endif%}
          
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

      </h3>
    </div>
  </div>

  <hr>

<!--   <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'listki';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> -->

  

{% endblock %}
