{% extends "layout.html" %}
{% block head %}
    <script type='text/javascript' src='static/vendor/jQuery-Plugin-For-Particle-System-Background-with-Parallax-Effect-Particleground/jquery.particleground.js'></script>

    <script type='text/javascript' src='static/js/particles.js'></script>
              


{% endblock %}
{% block body %}

  <div id="particles" class="row">
    <div class="col-md-12">
    </div>
  </div>

  
  <div class="jumbotron on_particles">
    <div class="row" >
      <div col-md-12 class='text-center'>
        <h1>{{gettext("Evarist")}}</h1>
      </div>
    </div>
    <div class="row">
      <div col-md-12 class='text-center'>
        <h2>Место, где старшеклассники и студенты <br>
        решают и обсуждают математические задачи.</h2>
        <!-- <h3 class="text-center">{{gettext("Платформа для решения и обсуждения математических задач для старшеклассников и студентов.")}}</h3> -->

      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <p class="lead">
        <h3> Курс по матанализу 57 школы. </h3>
        <ol style='list-style-type:none'>
          {%for problem_set in problem_sets%}
            <li>
              <p><a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a></p>
            </li>
          {% endfor %}
        </ol>
      </p>
    </div>
    <div class="col-md-3">
      <div style='height:45px'></div>
      <p><a href="{{url_for('workflow.problem_set', problem_set_slug=solution_examples_pset['slug'])}}">
        Посмотреть примеры правильных решений
      </a></p>
      {% if g.user%}
        <p><a href="{{url_for('workflow.my_solutions')}}">Ваши решения</a></p>
        <p><a href="{{url_for('workflow.check')}}">Cмотреть чужие решения</a></p>
        <p><a href="{{url_for('workflow.users')}}">Топ 10 пользователей</a></p>
      {%endif%}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p><b>Часто задаваемые вопросы:</b></p>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#karma">
              Что за цифры рядом с именем пользователя?
            </a>
          </div>
          <div id="karma" class="accordion-body collapse">
            <div class="accordion-inner">
              Число справа от имени пользователя (мы называем его <em>кармой</em>) отражает то, насколько пользователь активен на сайте. Чем больше вы решаете и (особенно) проверяете задач, тем оно больше.
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#multiple_formats_of_content">
              Почему на сайте так много разного вида материалов?
            </a>
          </div>
          <div id="multiple_formats_of_content" class="accordion-body collapse">
            <div class="accordion-inner">
              Потому что мы тестируем разные способы подачи, чтобы знать, какой формат больше подходит вам.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
