{% import 'macros/solutions.html' as solution_macros %}
{% import 'macros/forms.html' as form_macros %}
{% import 'macros/comments.html' as comment_macros %}


{% extends "layout.html" %}
{% block head %}
  
  <title>Мои решения</title>

{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="{{url_for('workflow.home')}}">Обратно к списку тем</a>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>Здесь вы можете смотреть, исправлять и комментировать  ваши решения.</p>
      <hr>
    </div>
  </div>

  <div class="row">
    
    <div class="col-md-6 col-md-offset-0">
      <h3>Непроверенные задачи:</h3>
      {%for solution in not_checked_solutions%}

          <!-- solutions text, and the name of problem set -->
          <div>
            <a href="/problem_sets/{{solution.problem_set['slug']}}">{{solution.problem_set['title']|safe}}</a>.
            <a href="/problem_sets/{{solution.problem_set['slug']}}/problem/{{solution.problem.id}}">Задача {{solution.problem.number_in_problem_set}}</a>.
            <p>
              {{solution.problem['text']|safe}}
            </p>
          </div>

          <!-- solution -->
          {{solution_macros.solution(solution=solution,inscription=gettext('Решение от %(author)s', author = solution['author']))}}
          {{solution_macros.display_votes(solution)}}
          
          <!-- edit solution form -->
          <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse_Id_edit_{{loop.index}}" aria-expanded="false" aria-controls="collapsId">
            Исправить решение
          </button>
          <div class="collapse" id="collapse_Id_edit_{{loop.index}}">
            <form action=" {{url_for('workflow.my_solutions', sol_id=solution.id)}}" method="post" enctype="multipart/form-data">
              {{ edit_solution_form.hidden_tag() }}
              {{form_macros.edit_solution_form(solution)}}
            </form>
          </div>    

          <div style='height:15px'></div>

          <!-- comment form -->
          <form action=" {{url_for('.my_solutions', sol_id=solution.id)}}" method="post">
            {{ solution_comment_form.hidden_tag() }}
            {{ form_macros.comment_form(name_of_textarea="feedback_to_solution", name_of_the_button="Оставить комментарий") }}
          </form>

          <div style='height:5px'></div>

          <!-- displaying comments if they exist -->
          {% if solution.discussion%}
            <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapse_Id_{{loop.index}}" aria-expanded="true" aria-controls="collapse_Id_{{loop.index}}">
              спрятать комментарии
            </button>
            <div class="collapse in" aria-expanded="true" id="collapse_Id_{{loop.index}}">
              {% for comment in solution['discussion']  %}
                {{ comment_macros.comment(comment) }}
              {% endfor %}
            </div>
          {% endif %}

          <div style='height:50px'>
          </div>
          <hr class="thick">
      
      {%endfor%}
    </div>

    <div class="col-md-6 col-md-offset-0">
      <h3>Проверенные задачи:</h3>
      {%for solution in checked_solutions%}
          <!-- solutions text, and the name of problem set -->
          <div>
            <a href="/problem_sets/{{solution.problem_set['slug']}}">{{solution.problem_set['title']|safe}}</a>.
            <a href="/problem_sets/{{solution.problem_set['slug']}}/problem/{{solution.problem.id}}">Задача {{solution.problem.number_in_problem_set}}</a>.
            <p>
              {{solution.problem['text']|safe}}
            </p>
          </div>

          <!-- solution -->
          {{solution_macros.solution(solution=solution,inscription=gettext('Решение от %(author)s', author = solution['author']))}}

          {{solution_macros.display_votes(solution)}}
          
          <!-- edit solution form -->
          <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse_Idd_edit_{{loop.index}}" aria-expanded="false" aria-controls="collapsId">
            Исправить решение
          </button>
          <div class="collapse" id="collapse_Idd_edit_{{loop.index}}">
            <form action=" {{url_for('workflow.my_solutions', sol_id=solution.id)}}" method="post">
              {{ edit_solution_form.hidden_tag() }}
              {{form_macros.edit_solution_form(solution)}}
            </form>
          </div>    
          
          <div style='height:15px'></div>

          <!-- comment form -->
          <form action=" {{url_for('.my_solutions', sol_id=solution.id)}}" method="post">
            {{ solution_comment_form.hidden_tag() }}
            {{ form_macros.comment_form(name_of_textarea="feedback_to_solution", name_of_the_button="Оставить комментарий") }}
          </form>

          <div style='height:5px'></div>

          <!-- displaying comments if they exist -->
          {% if solution.discussion%}
            <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapse_Idd_{{loop.index}}" aria-expanded="true" aria-controls="collapse_Idd_{{loop.index}}">
              спрятать комментарии
            </button>
            <div class="collapse in" aria-expanded="true" id="collapse_Idd_{{loop.index}}">
              {% for comment in solution['discussion']  %}
                {{ comment_macros.comment(comment) }}
              {% endfor %}
            </div>
          {% endif %}

          <div style='height:50px'>
          </div>
          <hr class="thick">
      {%endfor%}  
    </div>
  </div>

{% endblock %}