{% import 'macros/solutions.html' as solution_macros %}
{% import 'macros/forms.html' as form_macros %}
{% import 'macros/posts.html' as post_macros %}
{% import 'macros/entries.html' as entry_macros %}

{% extends "layout.html" %}
{% block head %}
   <title></title>
{% endblock %}
{% block body %}


  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <a href="{{url_for('workflow.problem_set',problem_set_slug=problem_set_slug)}}">Обратно к уроку</a>
    </div>
  </div>
  <div style='height:20px'></div>

  <hr>

  <div class="row">
    <div class="col-md-6 col-md-offset-2">
        {{entry_macros.entry(problem, number=problem.get('problem_number'), entry_type="problem")}}
    </div>
  </div>  


  <div class="row">
    
    <div class="col-md-5 col-md-offset-2">
      {% if g.user %}  
        
        <!-- this part is related to solution of logged in user -->
        {% if not current_user_solution %}
          <strong class="text-center"> Ваше решение </strong>
          <!-- this is form for writing solution -->
          <form action=" {{url_for('workflow.problem', problem_set_slug=problem_set_slug, prob_id=problem['_id'])}}" method="post" enctype="multipart/form-data">
            {{ solution_form.hidden_tag() }}
            {{ form_macros.solution_form(name_of_textarea="solution",name_of_the_button="Отправить") }}
          </form>

        {% elif current_user_solution%}
          <!-- if solution is already written, it is displayed -->
          {{solution_macros.solution(solution=current_user_solution, inscription="Ваше решение.")}}     
          {{solution_macros.display_votes(current_user_solution)}}
          
          <!-- edit solution form -->
          <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapsId" aria-expanded="false" aria-controls="collapsId">
            Исправить решение
          </button>
          <div class="collapse" id="collapsId">
            <form action=" {{url_for('workflow.problem', problem_set_slug=problem_set_slug, prob_id=problem['_id'])}}" method="post">
              {{ edit_solution_form.hidden_tag() }}
              {{form_macros.edit_solution_form(current_user_solution)}}
            </form>
          </div>

          <div style="height:15px"></div>

          <!-- comment form -->
          <form action=" {{url_for('workflow.problem', problem_set_slug=problem_set_slug, prob_id=problem['_id'], sol_id=current_user_solution['_id'])}}" method="post">
            {{ solution_comment_form.hidden_tag() }}
            {{ form_macros.comment_form(name_of_textarea="feedback_to_solution",name_of_the_button="Оставить комментарий") }}
          </form>
          
          <!-- displaying existing comments -->
          {% for post in current_user_solution['discussion'] | reverse %}
            {{ post_macros.post(post) }}
          {% endfor %}
        {%endif%}
        
        <!-- this part is related to other solutions, that logged in user can see/vote/comment on -->
        {%if other_solutions%}
          {%for solution in other_solutions%}

            {{solution_macros.solution(solution=solution,inscription=gettext('Решение от %(author)s', author = solution['author']['username']))}}       
            
            <!-- votes + form for voting-->
            <div class='row'>
              <!-- votes -->
              <div class="col-md-4 col-md-offset-1">
                {{solution_macros.display_votes(solution)}}
              </div>

              <!-- vote form -->
              <div class="col-md-4 col-md-offset-2">
              {%if g.user.get('_id') not in (  solution['users_upvoted_ids']|list + solution['users_downvoted_ids']|list )%}
                <form action="{{request.path}}?sol_id={{solution['_id']}}" method="post">
                  {{ vote_form.hidden_tag() }}
                  {{ form_macros.vote_for_solution_form() }}
                </form>
              {%else%}
                <p><strong style='color:green'> Вы уже проголосовали.</strong></p>
              {%endif%}
              </div>
            </div>

            <div style='height:14px'></div>

            <!-- comment form -->
            <form action="{{url_for('workflow.problem', problem_set_slug=problem_set_slug, prob_id=problem['_id'], sol_id=solution['_id'])}}" method="post">
              {{ solution_comment_form.hidden_tag() }}
              {{ form_macros.comment_form(name_of_textarea="feedback_to_solution",name_of_the_button="Оставить комментарий") }}
            </form>

            <div style='height:5px'></div>

            <!-- displaying comments if they exist -->
            {% if solution.get('discussion')%}
              <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#collapse_Id_{{loop.index}}" aria-expanded="true" aria-controls="collapse_Id_{{loop.index}}">
                спрятать комментарии
              </button>
              <div class="collapse in" aria-expanded="true" id="collapse_Id_{{loop.index}}">
                {% for post in solution['discussion'] | reverse %}
                  {{ post_macros.post(post) }}
                {% endfor %}
              </div>
            {% endif %}

            <div style='height:50px'>
            </div>
            <hr>

          {%endfor%}
        {%endif%}
  
      {% else %}
      <p>
        Чтобы послать решение задачи на проверку, или задать вопрос по условию, <a href="{{url_for('user.login')}}">войдите</a>. 
      </p>
      {% endif %}
    </div>


    <div class="col-md-3 col-md-offset-2">
      <strong> Вопросы по условию </strong>
      
      <!-- comment form -->
      {% if g.user %}
      <p>
        <form action=" {{url_for('workflow.problem', problem_set_slug=problem_set_slug, prob_id=problem['_id'])}}" method="post" >
          {{ general_comment_form.hidden_tag() }}
          {{ form_macros.comment_form(name_of_textarea="text",name_of_the_button="Отправить") }}
        </form>
      </p>
      {% endif %}

      <!-- displaying old comments if they exist -->
      {% for post in problem.get('general_discussion') | reverse %}
        {{ post_macros.post(post) }}
      {% endfor %}
      
    </div>


  </div>  



{% endblock %}