{% extends "layout.html" %}
{% block head %}
  <title>listki/blog</title>
  <link href="../static/show_entries.css" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
  </div>
  {% if session.logged_in %}
    <form action="{{ url_for('flaskr.add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 blog-main">
    {% for entry in entries %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ entry.title }}</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
        {{ entry.text|safe }}
      </div>
    {% else %}
      <ul>
      <li><em>Unbelievable.  No entries here so far</em>
      </ul>
    {% endfor %}
    </div>
  </div>
{% endblock %}