{% extends "layout.html" %}
{% block head %}
   <title>listki homepage with links</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>  <a href="{{ url_for('show_entries')}}"> comments </a>  </li>
        <li>  <a href="{{ url_for('indexBitStarter')}}"> BitStarter</a>  </li>
        <li>  <a href="{{ url_for('startertry')}}"> Bootstrap Playground </a>  </li>
      </ul>
    </div>
  </div>   
  <hr>
  <div class="row">
    <div class "col-md-4">
      <ul>
        <li>  <a href="{{ url_for('login_module.login')}}"> login </a>  </li>
        <li>  <a href="{{ url_for('login_module.signup')}}"> signup</a>  </li>
      </ul>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h1>Problem sets</h1>
      <ol>
        <li>  <a href="{{ url_for('set_theory')}}"> Set Theory </a> </li>
      </ol>
    </div>
  </div>

{% endblock %}
