{% extends "layout.html" %}

  {% block head %}
    <title>Bootstrap Playground</title>

    <!-- Custom styles for this template -->
    <!-- <link href="../static/starter-template.css" rel="stylesheet"> -->

  {% endblock %}

  {% block body %}
<!--     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#" in_tag="ul" kaspersky_status="skipped">Home</a></li>
            <li><a href="#about" in_tag="ul" kaspersky_status="skipped">About</a></li>
            <li><a href="#contact" in_tag="ul" kaspersky_status="skipped">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav> -->

    <div>
      <div class="container-fluid">
      <!-- .container has one fixed width for each screen size in bootstrap (xs,sm,md,lg); 
           .container-fluid expands to fill the available width. 
           i like things fluid :) -->
        <div class="jumbotron jumbotron-2 center-x">
          <p><h1>BOOM!</h1></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <p>Does the automatics deploy from github master work?</p>
      </div>
    </div><!-- /.container -->

  {% endblock %}