{% extends "layout.html" %}
{% block head %}
   <title>listki homepage with links</title>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul>
        <li>  <a href="{{ url_for('.show_entries')}}"> comments </a>  </li>
        <li>  <a href="{{ url_for('.indexBitStarter')}}"> BitStarter</a>  </li>
        <li>  <a href="{{ url_for('.startertry')}}"> Bootstrap Playground </a>  </li>
      </ul>
    </div>
  </div>   
  
  <hr>
    
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="{{ url_for('.show_problem_sets') }}"><h1>Problem sets</h1></a>
    </div>
  </div>

{% endblock %}
