{% extends "layout.html" %}
{% block head %}
   <title>Home</title>
{% endblock %}
{% block body %}


  <!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <dl>
        <dd>  <a href="{{ url_for('.show_entries')}}"> comments </a>  </dd>
        <dd>  <a href="{{ url_for('.indexBitStarter')}}"> BitStarter</a>  </dd>
        <dd>  <a href="{{ url_for('.startertry')}}"> Bootstrap Playground </a>  </dd>
      </dl>
    </div>
  </div>   --> 
  
    
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if session.get("is_moderator")%}
      <a class='pull-right' href="{{url_for('admin.home')}}">(go to admin's page)</a>
      {%endif%}
      <dl>

        <dt>Problem sets:</dt>
        {%for problem_set in problem_sets%}
          <dd>
            <a href="{{url_for('.problem_set',problem_set_slug=problem_set['slug'])}}">{{problem_set['title']}}</a>
          </dd>
        {% endfor %}
      </dl>

    </div>
  </div>

  <hr>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'listki';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


{% endblock %}
