{% extends "layout.html" %}
{% block head %}
   <title>Set Theory</title>
{% endblock %}
{% block body %}


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="{{url_for('workflow.problem_set',problem_set_slug=problem_set_slug)}}">Back to the problem set</a>
    </div>
  </div>
  <div style='height:20px'></div>

  <hr>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div>
        Problem {{problem.get('problem_number')}}.
        
        <p>{{problem['text']|safe}}</p>
      </div>
    </div>
  </div>  


  <div class="row">
    
    {% if "username" in session %}
      <div class="col-md-4 col-md-offset-1">
        

        <strong class="text-center"> Your solution.</strong>
        {% if not g.solution_written %}
          <form action=" {{url_for('.problem', problem_set_slug=problem_set_slug, problem_number=problem['problem_number'])}}" method="post">
            
            {{ solution_form.hidden_tag() }}
            <div class="form-group" >

              <label for="solution"> </label>
              <textarea class="form-control" rows="5"  name='solution'></textarea>

            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        {% elif g.solution_written%}
          
          <pre>
            {{problem['solution']['text']}}
          </pre>

          <form action=" {{url_for('.problem', problem_set_slug=problem_set_slug, problem_number=problem['problem_number'])}}" method="post">
            <div class="form-group" >

              {{ solution_comment_form.hidden_tag() }}
              <label for="feedback_to_solution">  <strong> Want to add something? </strong> </label>
              <textarea class="form-control" rows="5"  name='feedback_to_solution'></textarea>

            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          {% for post in problem['solution']['discussion'] %}
            <div class="blog-post">
              <p class="blog-post-meta">{{post['date'].day}}/{{post['date'].month}}/{{post['date'].year}} by {{post['author']}}</p>
              <pre>{{ post['text'] }}</pre>
            </div>
          {% else %}
            <p > No comments here so far. </p>
          {% endfor %}
        {%endif%}
        




      </div>
    {% endif %}
    


    <div class="col-md-4 col-md-offset-2">
      <strong> General discussion of the problem. </strong>
      {% if "username" in session %}
      <p>
        <form action=" {{url_for('.problem', problem_set_slug=problem_set_slug, problem_number=problem['problem_number'])}}" method="post">
          <div class="form-group" >

            {{ general_comment_form.hidden_tag() }}
            <label for="text"> </label> Any comments, questions? 
            <textarea class="form-control" rows="5"  name='text'></textarea>

          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </p>
      {% endif %}


      {% for post in problem.get('general_discussion') %}
        <div class="blog-post">
          <p class="blog-post-meta">{{post['date'].day}}/{{post['date'].month}}/{{post['date'].year}} by {{post['author']}}</p>
          <pre>{{ post['text'] }}</pre>
        </div>
      {% else %}
        <p > No comments here so far. </p>
      {% endfor %}
      
    </div>


  </div>  



{% endblock %}