{% extends "layout.html" %}
{% block head %}
  <title>listki/blog</title>
  <link href="../static/show_entries.css" rel="stylesheet">
{% endblock %}
{% block body %}
  {% if 'username' in session %}

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
          <dl>
            <div class="form-group">
              <!-- <dt>Title: -->
              <!-- <dd><input type=text size=30 name=title> -->
              <label for="title">Title:</label>
              <input type="text" class="form-control" id="title" name=title>
              <!-- <dt>Text: -->
              <!-- <dd><textarea name=text rows=5 cols=40></textarea> -->
              <label for="comment">Comment:</label>
              <textarea class="form-control" rows="5" id="comment" name=text></textarea>
            </div>
            <dd><input type=submit value=Share>
          </dl>
        </form>
      </div>
    </div> 

  {% endif %}
  <div class="row">
    <div class="col-sm-8 col-md-offset-2 blog-main">
    {% for entry in entries %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ entry.title }}</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
        {{ entry.text|safe }}
      </div>

      <ul class="media-list">
        <li class="media">
          <div class="media-left">
            <a href="#">  <img class="media-object" src="http://placehold.it/80x80" alt="...">  </a>
          </div>  
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
            <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="..." alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Media heading</h4>
                  ...
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="..." alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
          </div>
        </li>
      </ul>

    {% else %}
      <p class=lead> Unbelievable. No entries here so far. </p>
    {% endfor %}
    </div>
  </div>
{% endblock %}